@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Geist+Pixel&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Geist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-geistmono: "Geist Mono", "sans-serif";
  --font-geistpixel: "Geist Pixel", "sans-serif";
  --font-intertight: "Inter Tight", "sans-serif";
  --font-inter: "Inter", "sans-serif";
  --font-geist: "Geist", "sans-serif";
  --font-googleSans: "Google Sans Flex";
}
